<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <!-- <p th:text="'Home입니다. ' + ${data}"></p> -->
    <h2>To Do List</h2>
    <form th:action="@{/save}" method="post">
        <table>
            <tr>
                <p>제목</p>
            </tr>
            <tr>
                <input type="text" name="title" placeholder="제목을 입력하세요." />
            </tr>
            <tr>
                <p>내용</p>
            </tr>
            <tr>
                <input type="text" name="content" placeholder="내용을 입력하세요." />
            </tr>
            <tr>
                <button type="submit">등록</button>
            </tr>   
        </table>
    </form>
</body>
</html>